.container{
    margin-bottom: 100px;
}
.orange-bg{
background-color: #fceae8;
border-radius: 10px;

}
.carousel-item{
    padding: 20px 40px;
}
.prize{
    color: #ff136f;
}
.buy-button-now{
    font-size: 100%;
    color: #ffffff;
    width: 179px;
    height: 57px;
    border: none;
    border-radius: 9px;
    background-image: linear-gradient(180deg, #ff589b 0%, #ff136f 100%);
}